.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #5a6d4e;
  z-index: -1;
  overflow: hidden;
}

/* Flores decorativas - Desktop */
.hero__flowers-right {
  position: absolute;
  right: 0;
  height: 100%;
  display: none;
}

.hero__flowers-left {
  position: absolute;
  left: 0;
  height: 100%;
  display: none;
  transform: scaleX(-1);
}

/* Flores decorativas - Mobile */
.hero__flowers-top {
  position: absolute;
  top: -280px;
  height: 100%;
  transform: rotate(90deg);
  display: block;
}

.hero__flowers-bottom {
  position: absolute;
  bottom: -250px;
  height: 100%;
  transform: rotate(90deg);
  display: block;
}

/* Media queries para mostrar/ocultar elementos */
@media (min-width: 640px) {
  /* Desktop: mostrar flores laterales */
  .hero__flowers-right,
  .hero__flowers-left {
    display: block;
  }

  /* Mobile: ocultar flores arriba y abajo */
  .hero__flowers-top,
  .hero__flowers-bottom {
    display: none;
  }
}

@media (max-width: 639px) {
  /* Mobile: mostrar flores arriba y abajo */
  .hero__flowers-top,
  .hero__flowers-bottom {
    display: block;
  }

  /* Desktop: ocultar flores laterales */
  .hero__flowers-right,
  .hero__flowers-left {
    display: none;
  }
}
